$black: #151515;
$yellow: #dfa118;
$green: #43442B;
$white: #FFFFFF;
$gray: #868686;
$panels-color: #31302d;
$twitter-color: #1dcaff;
$fb-color: #3C5A99;
$label-color: $yellow;
$notification-background-color: $black;
$input-background-color: $white;
$input-color: $black;
$body-background-color: $black !default;